a.fa {
    color: white;
    text-decoration: none;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

.banner {
    background-image: url("./public/pexels-tranmautritam-326503.jpg");
    min-height: 650px;
    width: auto;
    background-size: cover;
    background-color: rgb(98, 100, 134);
    background-blend-mode: darken;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: -1;
    clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0% 90%, 0 0);
    padding: 5px;
}

.banner>content {
    padding: 90px;
}

.banner>.content>h1 {
    font-size: 45px;
}

.blog-post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid slategrey;
    border-radius: 5px;
}

.blog-post:hover {
    border: 1px solid blue;
    cursor: pointer;
}

.blog-post>.info {
    max-width: 340px;
    padding: 3px;
}

.blog-post>.info>.read-more>button {
    width: 100%;
    background-color: rgb(13, 103, 163);
    height: 30px;
    border: none;
    border-radius: 3px;
    color: white;
}

.blog-post>.info>.date {
    color: grey;
}

.blog-post>.info>.author {
    color: dimgray;
}

.blog-post>.image {
    min-height: 200px;
    width: 340px;
    background: url(./public/pexels-tranmautritam-251225.jpg);
    background-size: cover;
}

.blog-post>.info {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.blog-post-container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.blog-post-container>h1 {
    color: slategray;
}

.connect {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.contacts {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.contacts-items>span>span {
    margin-left: 10px;
}

.content {
    color: white;
}

.content>h1,
.content>h2 {
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.connect-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.connect-container>h3 {
    text-align: center;
}

.connect-item {
    margin: 10px;
}

.content-item {
    height: 200px;
    min-width: 290px;
    margin: 10px 10px 10px 10px;
    flex: 1;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgb(102, 90, 90);
}

.fa {
    margin: 3px;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
}

.item-image {
    height: 135px;
    margin: 5px 0px 5px 0px;
    background-image: url(./public/pexels-pixabay-39284.jpg);
    background-size: cover;
    background-color: rgb(194, 181, 181);
    background-blend-mode: darken;
}

.item-image:hover {
    background-color: transparent;
}

.learn-more>button {
    width: 95%;
    height: 27px;
    background-color: rgb(13, 103, 163);
    color: white;
    border: none;
    border-radius: 3px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portifolio {
    background-color: rgb(142, 144, 179);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 0px 5px 0px;
}

.portifolio-heading {
    text-align: center;
}

.portifolio-item {
    width: 340px;
    height: 200px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid white;
}

.portifolio-item:hover {
    border: 1px solid #0d67a3;
    background-color: white;
    cursor: pointer;
    height: 205px;
    margin: 0px 5px 0px 5px;
}

.portifolio-item>h3 {
    background-color: transparent;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    box-shadow: 1px 1px 3px rgb(219, 208, 208);
    border-radius: 30%;
}

.profile-pic>a>img {
    border-radius: 50px;
}

.profile-pic {
    margin: 5px;
}

.rotate90 {
    transform: rotate(-90deg);
}