a.fa {
    color: white;
    text-decoration: none;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.about-project {
    min-width: 340px;
    min-height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-section {
    padding: 0px 10px 0px 10px;
    max-width: 700px;
}

.about-section>h1 {
    color: grey;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

.banner {
    background: url("./pexels-tranmautritam-326503.jpg");
    min-height: 444px;
    width: auto;
    background-size: cover;
    background-color: rgb(61, 63, 124);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: -1;
    clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0% 90%, 0 0);
    padding: 5px;
    animation: animate-banner-shape 1s ease-in;
}

@keyframes animate-banner-shape {
    0% {
        clip-path: polygon(100% 0%, 100% 90%, 50% 95%, 0% 90%, 0 0);
    }
    100% {
        clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0% 90%, 0 0);
    }
}

.banner>content {
    padding: 90px;
}

.banner>.content>h1 {
    font-size: 45px;
}

.blog-post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 5px;
}

.blog-post:hover {
    border: 1px solid blue;
    cursor: pointer;
}

.blog-post>.info {
    max-width: 340px;
    padding: 3px;
}

.blog-post>.info>.read-more>button {
    width: 100%;
    background-color: rgb(13, 103, 163);
    height: 30px;
    border: none;
    border-radius: 3px;
    color: white;
}

.blog-post>.info>.date {
    color: grey;
}

.blog-post>.info>.author {
    color: dimgray;
}

.blog-post>.image {
    min-height: 200px;
    width: 340px;
    background: url(./pexels-tranmautritam-251225.jpg);
    background-size: cover;
}

.blog-post>.info {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.blog-post-container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.blog-post-container>h1 {
    color: slategray;
    margin: 10px 0px 10px 0px;
}

.connect {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.contact-me>h1 {
    color: slategrey;
    margin: 10px 0px 10px 0px;
}

.contact-group {
    width: 100%;
    max-width: 550px;
}

.content {
    color: white;
}

.content>h1,
.content>h2 {
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.connect-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 15px;
}

.connect-container>h3 {
    text-align: center;
}

.connect-item {
    margin: 10px;
}

.content-item {
    height: 200px;
    min-width: 290px;
    margin: 10px 10px 10px 10px;
    flex: 1;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgb(102, 90, 90);
}

.fa {
    margin: 3px;
}

.find-me {
    background-color: rgb(142, 144, 179);
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 100%;
}

.form-control>input,
.form-control>button {
    height: 30px;
}

.form-control>button {
    background-color: green;
    color: antiquewhite;
    border-radius: 4px;
}

.form-control>input,
.form-control>textarea,
.form-control>button {
    width: 100%;
    margin: 10px 0px 10px 0px;
    border: 1px solid rgb(219, 217, 217);
}

.item-image {
    min-height: 175px;
    min-width: 340px;
    background-image: url(./pexels-pixabay-39284.jpg);
    background-size: cover;
    background-color: rgb(126, 125, 125);
    background-blend-mode: darken;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-image:hover {
    background-color: transparent;
}

.learn-more>button {
    width: 95%;
    height: 27px;
    background-color: rgb(13, 103, 163);
    color: white;
    border: none;
    border-radius: 3px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav>a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

nav>a:hover {
    background-color: rgb(7, 54, 48);
}

.nav-container {
    margin-bottom: 30px;
}

.personal-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.personal-details>h3,
.personal-details>.title {
    text-align: center;
}

.personal-details>.title {
    border: 1px solid darkgrey;
    border-radius: 70px;
    background-color: grey;
}

.portifolio {
    background-color: rgb(142, 144, 179);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.portifolio-heading {
    color: grey;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.portifolio-item {
    min-width: 340px;
    min-height: 200px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgb(79, 95, 139);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.portifolio-item:hover {
    cursor: pointer;
    min-height: 205px;
    margin: 0px 5px 0px 5px;
}

.portifolio-item>h3 {
    background-color: transparent;
}

.profile {
    height: fit-content;
    padding: 20px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: rgb(94, 94, 83);
    animation: shape-animate 1s ease-in;
    clip-path: polygon(100% 0%, 95% 78%, 50% 100%, 5% 78%, 0 0);
}

@keyframes shape-animate {
    0% {
        clip-path: polygon(100% 0%, 100% 78%, 50% 90%, 0% 78%, 0 0);
        opacity: 70%;
    }
    100% {
        clip-path: polygon(100% 0%, 95% 78%, 50% 100%, 5% 78%, 0 0);
        opacity: 100%;
    }
}

.profile-pic>a>img {
    border-radius: 60px;
}

.profile-pic {
    margin: 5px;
}

.rotate90 {
    transform: rotate(-90deg);
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 700px;
}

.technologies>h1 {
    margin: 20px 0px 20px 0px;
    color: grey;
}

.technologies>ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
}

.technologies>ul>li {
    width: 100px;
}

.technologies-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}